@import "tailwindcss";

@theme {
  --color-accent: #7c3aed;
  --color-bg: #0d0d12;
  --color-panel: #15151d;

  --font-heading: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
}

body {
  background-color: #0d0d12;
}